body {
    /* background-color: rgb(167, 241, 247); */
    background-image:  url("./assets/images/bitcoin-1813503_1280-720x480.jpg")
}



#apicontainer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25px;

    width: 75%;
    height: auto;
    background-color: rgba(252, 253, 253, 0.664);
    color: black
}

#button1 {
   width: 50px;
}
#container2 {
    /* display: flex;
    align-content: center;
    justify-content: space-between; */
    margin: 0 auto;
    margin-top: 25px;
    width: 75%;
    height: auto;
    background-color: rgba(159, 245, 238, 0.075);
    /* text-align: center; */
    font-size: 35px;
}

#container3 {
    /*container holding add new row funtionality    */
    height: auto;
    
}

#c2 {
    display: block;
}

#date1 {
    width: 250px;
}

#dropdown1 {
    width: 150px;
    margin-top: 25px;
    margin-left: 15px;
}

#dropdown2 {
    clear: both;
    width: 150px;
    margin-top: 25px;
    margin-left: 15px;
}


#footy {
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

#ftbox1 {
    width: 33%;
    color: white
}
#ftbox2 {
    width: 33%;
    color: white;
    margin-left: 15px;

}
#ftbox3 {
    width: 33%;
    color: white

}



#header {
    /* display: inline-block;
    vertical-align: top; */
    text-align: center;
    display: flex;
    justify-content: center;
    /* width: 75%; */
    /* border:1px solid red; */
      }

#header2 {
    text-align: center;
    display: block;
    /* width: 75%; */
}

#headline {
    /* display: inline-block; */
    vertical-align: top;  
    text-align: center;
    /* border:1px solid red; */
    /* margin-right:10px; */
   
}

table, td {
    border: 1px solid rgb(3, 253, 23);
    height: 15px;
    width: 15px
  }
#member {
    margin-left: 15px;
    margin-top: 15px;
}

#nightmode {
    /* display: inline-block;
    vertical-align: top;     */
    border:1px solid red;
    /* margin-right:10px; */
    background-color: rgb(71, 71, 177);
    width: 5%;
}

#nighttime {
    background-color: #272e41;
    color: #a0a0a0;
}

#nighttime.toggled {
    background-color: pink;
    color: #a0a0a0;
}


#moon {
    
    margin-left:25px;
    color: white;
}

.picks1 {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    font-size: 18pt;
    color: white;

}
.picks2 {
    display: flex;
}
.picks3 {
    display: flex;
}
#space {
    /* margin-top: 200px; */
    height: auto; 
    background-color: rgba(37, 37, 37, 0.288);
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

#space1 {
    /* margin-top: 200px; */
    height: auto; 
    background-color: blue;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

h1, h2 {
    color: rgb(143, 141, 141);
    text-shadow: -1px 0 rgb(24, 23, 23), 0 1px rgb(44, 43, 43), 1px 0 rgb(19, 18, 18), 0 -1px rgb(185, 185, 184);

    /* text-align: center; */
}

.currencyinput {
    border: 1px inset white;
    background-color: white;
    color: black
}
.currencyinput input {
    border: 0;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  #btcdonate {
      width: 20px;
      height: 20px;
  }

  /* @media screen and (min-width: 600px) {
    body {
        text-decoration-color: blue;
    }

  }

  @media screen and (max-width: 599px) {
    #header {
        width: 100%;
    }

  } */